html {
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  /* background-color: navy; */
  display: flex;
}
.title {
  font-size: 2rem
  /* background-color: coral; */
}

.navigation-bar {
  /* background-color: cyan; */
}
.Navigation-bar-links {
  display: flex;
  flex-wrap: wrap;
}

.about-me {
  /* background-color: darkolivegreen; */
  list-style-type: none;
  border: solid red;
  font-size: 2rem;
}

.my-projects {
  /* background-color: darkviolet; */
  list-style-type: none;
  border: solid red;
  font-size: 2rem;
}

.contact-me {
  /* background-color: lime; */
  list-style-type: none;
  border: solid red;
  font-size: 2rem;
}

/*Main information on page*/
.main-container {
  background-color: firebrick;
  display: flex;
  flex-wrap: wrap;
  /* position:relative */
  /* justify-content: space-between; */
}

.my-photo-container {
  /* position:absolute */
}

.my-photo {
  width: 20rem;
}

.information {
  background-color: darkorange;
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  justify-content: space-evenly;
  
}

.about-me__info {
  /* background-color: rgb(21, 199, 60); */
  
}

.contact-me__details {
  /* background-color: rgb(188, 228, 47); */
  

.project-one-container {
}
.project-one {
}

.projects-container {
}

.project-two {
}

.project-three {
}
.project-four {
}
